.flex-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}


.parksList{
    border: 1px solid black
}

.attractionsList{
    border: 1px solid black
}

.eateryList{
    border: 1px solid black;
    text-align: center;
}

#card-div{
    flex-basis: 30%
}

footer {
    text-align: center;
}