


.flex-container {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */
}


.parksList{
    /* border: 1px solid black; */
    text-align: center;
    padding: 1em;

}

.attractionsList{
    /* border: 1px solid black; */
    text-align:center;
    padding: 1em;
}

.eateryList{
    /* border: 1px solid black; */
    text-align: center;
    padding: 1em
   
}

/* Patti Added */



/* Angie Added */

.eatery-image {
    max-width: 50%
}

header {
    height: 25vh;
    background-color:azure
}

#card-div{
    flex-basis: 25%;
}

footer {
    text-align: center;
}

.dropdowns {
    align-items: center;
    height: 5vh;
    
}
select {
    height: 4.5vh;
}

.attraction-image{
    max-width: 75%;
}

.wide-modal {
    width: 70vw

}
.attraction-more-details{
    border: solid black 4px;
}


.save-button-div {
    display: flex; 
    justify-content: center;
    margin-bottom: 1em;
    
    
}

.itinerary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.itinerary-card {
    /* border: 3px green solid; */
    /* width: 30vw; */
    margin-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color:lightskyblue;
    border-radius: 2em;

}
